#Switch Environment: development | production
ENVIRONMENT=CURRENT_ENVIRONMENT

# Common 
SECRET_KEY='YOUR_SECRET_KEY'
ALLOWED_HOSTS='ALLOWED_HOSTS'

# Database
DB_NAME='YOUR_DATABASE_NAME'
DB_USER='USER_NAME'
DB_PASSWORD='DATABASE_PASSWORD'
DB_HOST='HOST'
DB_PORT='PORT'

# Developer config
DEBUG='DEBUG_MODE'